jupyter==1.0.0
matplotlib==3.0.3
numpy==1.16.2
scipy==1.2.1
Pillow==5.4.1
pandas==0.24.1
scikit-image==0.14.2
scikit-learn==0.20.3
pydot==1.4.1
graphviz==0.10.1

# By default this project depends on the CPU version of TensorFlow:
tf-nightly-2.0-preview

# but you can install the GPU version instead if you know what you are doing:
#tf-nightly-gpu-2.0-preview

tb-nightly

