jupyter==1.0.0
matplotlib==3.0.2
numpy==1.15.4
scipy==1.2.0
Pillow==5.3.0
pandas==0.23.4
scikit-learn==0.20.1
pydot==1.4.1

# By default this project depends on the CPU version of TensorFlow:
tensorflow==2.0.0

# but you can install the GPU version instead if you know what you are doing:
#tensorflow-gpu==2.0.0
